$white: #FFFFFF;
$gray: #5D5D5D;
$gray3: #333333;
$black: #333333;
$gray4: #E8E8E8;
$gray5: #D5D5D5;
$green: #7ECF25;



$gray-light: #EDEDED;
$pink: #AE6E86;
$purple-dark: #4C3959;
$big_button: #BBE197;

$honnor: #667FA3;