$white: #FFFFFF;
$gray: #5D5D5D;

$black: #333333;

$green: #7ECF25;
$gray_light: #F6F6F6;

$gray1: #D4D2D2;
$gray2: #8B8B8B;
$gray3: #333333;
$gray4: #E8E8E8;
$gray5: #D5D5D5;

$pink: #AE6E86;
$purple-dark: #4C3959;
$big_button: #BBE197;

$honnor: #667FA3;
$privilege: #50A4AF;
$institut: #2d6584;
$amsterdam: #913d2d;