@import "reset";
@import "functions";
@import "color";
@import "font";
@import "advanced/header";
@import "advanced/footer";
@import "advanced/content";
@import "advanced/base";


section.content {

    article.desc {

        &[data-type='privilege'] {
            p a {
                color: $privilege;
                text-decoration: underline;

                &.button {
                    background-color: $privilege;
                    color: $white;
                }
            }

            header {
                color: $privilege;
                border-left-color: $privilege;


            }
        }

        &[data-type='institut'] {
            p a {
                color: $institut;
                text-decoration: underline;

                &.button {
                    background-color: $institut;
                    color: $white;
                }
            }

            header {
                color: $institut;
                border-left-color: $institut;
            }
        }

        &[data-type='amsterdam'] {
            p a {
                color: $amsterdam;
                text-decoration: underline;

                &.button {
                    background-color: $amsterdam;
                    color: $white;
                }
            }

            header {
                color: $amsterdam;
                border-left-color: $amsterdam;
            }
        }
    }
}