@import "reset";
@import "functions";
@import "color";
@import "font";
@import "advanced/header";
@import "advanced/footer";

a.header_title {

    margin-top: 140px;
    margin-bottom: 50px;
    height: 180px;
}

section.content {

    article.desc {
        padding-bottom: 30px;

        section.left {
            padding-left: 30px;
            width: 930px;
        }

        &[data-type='privilege'] {
            p a {
                color: $privilege;
                text-decoration: underline;
            }

            header {
                color: $privilege;
                border-left-color: $privilege;
            }
        }
    }
}