@import "reset";
@import "functions";
@import "color";
@import "font";
@import "advanced/header";
@import "advanced/footer";
@import "advanced/content";


section.content {

    article.desc {
        padding-bottom: 0px;

        section.left {
            padding-left: 15px;
            width: 960px;
        }

        section.right {
            padding-left: 15px;
        }
    }
}

@import "advanced/base";