@import "reset";
@import "functions";
@import "color";
@import "font";
@import "advanced/header";
@import "advanced/footer";
@import "advanced/content";


a.logo_live {
    display: block;
    height: 100px;
    width: 100%;
    margin-top: 160px;
    margin-bottom: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/live/live-tv-heart-logo.png');
}

section.content {

    article.desc {
        padding-bottom: 0px;

        section.left {
            padding-left: 15px;
            width: 960px;
        }

        section.right {
            padding-left: 15px;
        }
    }
}

@import "advanced/base";