{% extends "::layout.html.twig" %}

{% block title %}{{ 'general.iahm'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/iahm_default.css') }}" type="text/css"/>
{% endblock %}

{% block body %}

    <a href="{{ path('iahm_page_homepage') }}" class="banner"
       style="background-image: url('{{ asset('images/page/header_red.jpg') }}')"></a>


    <div class="header_title">
    <h1><span>Make a donation</span></h1>
    </div>

    <div class="container">

        <section class="content">

            {% spaceless %}

                <article class="desc">

                    <section class="left">

                        <h2>Make a donation</h2>

                        <p>hebrkuq wejgbqwerkjg bqwejlkb kqewjb</p>


                    </section>

                </article>



            {% endspaceless %}

        </section>


    </div>


{% endblock %}
