{% extends "::layout.html.twig" %}

{% block title %}{{ 'general.iahm'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/iahm_default.css') }}" type="text/css"/>
{% endblock %}

{% block body %}

    <div class="container">

        <section class="content">

            {% spaceless %}

                <article class="desc jotform">

                    <section class="left">

                        <script type="text/javascript" src="https://form.jotformeu.com/jsform/{{ form_id }}"></script>


                    </section>

                </article>



            {% endspaceless %}

        </section>


    </div>


{% endblock %}
