section.content {
    margin: 0 auto;
    max-width: 1320px;
    background-color: $white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 70px;

    article.video {
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;
        margin-right: 15px;
        max-width: 960px;
        width: 100%;

        /*
        iframe {
            margin: 0 auto;
            display: block;
            width: 960px;
            height: 540px;
        }
        */

        div.countdown {
            background-size: cover;
            width: 960px;
            height: 540px;
            display: block;

            span {
                color: $white;
                font-size: 2.5em;
                width: 100%;
                text-align: center;
                display: block;
                line-height: 540px;
                text-shadow: 2px 2px 6px $black;
            }
        }

        &[data-live="off"] {
            iframe {
                display: none;
            }
        }

        &[data-live="on"] {

            div.countdown {
                display: none;
            }

            iframe {
                display: block;
            }
        }
    }

    article.desc {
        margin-top: 15px;
        padding-bottom: 30px;

        &[data-type='honnor'] {
            p a {
                color: $honnor;
                text-decoration: underline;
            }

            header {
                color: $honnor;
                border-left-color: $honnor;
            }
        }

        p {
            padding-bottom: 10px;
            max-width: 790px;

            a {
                color: $pink;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            em {
                font-family: $futura-bold;
            }

        }
        ul, ol {
            li {
                padding-left: 5px;
                margin-left: 30px;
                padding-bottom: 10px;
            }

            &.block li {
                display: inline-block;
                //margin: 10px;
                margin-left: 0;
                width: 250px;
            }
        }

        h2 {
            font-family: $futura-bold;
            font-size: 1.25em;
            padding-bottom: 10px;
            padding-top: 30px;
        }

        h3 {
            font-size: 1.35em;
            padding-top: 10px;
            max-width: 790px;
        }

        b {
            font-family: $futura-demi-i;
        }

        table.simple {
            tbody {
                tr {
                    td {
                        &:first-of-type {
                            //text-align: right;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        a.button {
            background-color: $gray3;
            color: $white;
            font-family: $futura-bold;
            text-decoration: none !important;
            padding: 8px 15px 8px 15px;
            display: inline-block;
            box-shadow: rgba($black, 0.5) 2px 2px 5px;
            margin-right: 30px;

            &:active,
            &:visited {
                color: $white;
            }
        }

        a.btn_img {
            vertical-align: top;
            display: inline-block;
            width: 262px;
            height: 147px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            color: transparent;
            margin-bottom: 20px;
        }

        section.left {
            display: inline-block;
            width: 930px;
            padding-right: 0px;
            padding-left: 30px;
            vertical-align: top;
        }

        header {
            color: $pink;
            border-left: 4px solid $pink;
            padding-left: 7px;
            margin-bottom: 15px;

            h1 {
                font-family: $futura-bold;
                font-size: 1.35em;
            }

            p {
                text-transform: uppercase;
                padding: 0;
            }
        }

        section.speaker {
            margin-top: 0px;
            max-width: 790px;
            padding-bottom: 20px;

            div.picture {
                display: inline-block;
                width: 215px;
                vertical-align: top;
                margin-top: 20px;

                img {
                    display: block;
                    width: 200px;
                }
            }

            div.bio {
                display: inline-block;
                margin-left: 15px;
                vertical-align: top;
                margin-top: 20px;
                width: 560px;

                p {
                    max-width: inherit;
                    width: 100%;
                }
            }
        }

        section.right {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            padding-right: 15px;
            padding-left: 30px;

            h2 {
                padding-top: 0;
            }
        }

    }

}